  body {
    background-color: #fce2db
  }


hr {
border-style: none;
border-top-style: dotted;
border-color: #e4a3d4;
border-width: 5px;
width: 5%
}

h1{
  color: #c295d8;
text-align: center;
}

h2{
  color: #c295d8;
}
